#app {
	/* animation: bg-colores 10s infinite; */
	background-color: #111;
	position: absolute;
	top: 0;
	left: 0;
}

@keyframes start {
	from {
		background-color: white;
	}
	to {
		background-color: inherit;
	}
}


@keyframes bg-colores {
	0% {
		background-color: aqua;
	}
	20% {
		background-color: greenyellow;
	}
	60% {
		background-color: orange;
	}
	80% {
		background-color: darkviolet;
	}
	100% {
		background-color: aqua;
	}
}
